# Virtual Environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Alembic cache
alembic/__pycache__/
alembic/versions/__pycache__/

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env